<!DOCTYPE html>
<html>

<head>


<link href="styles/bootstrap-3.1.1-dist/css/bootstrap.min.css" rel="stylesheet">
<link href="styles/searchbox.css" rel="stylesheet">

<style>
table {
	border-spacing: 10px;
    border-collapse: separate;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
</style>

</head>

<body>

<div class="navbar navbar-default">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="homepage.html">5Crib</a>
  </div>
  <div class="navbar-collapse collapse navbar-responsive-collapse">
    <ul class="nav navbar-nav">
      <li><a href="searchbox.html">Find A Suite!</a></li>
      
   
    <ul class="nav navbar-nav navbar-right">
      <li class="active"><a href="drawEntry.html">Get Your Room Draw Rank!</a></li>
    </ul>
  </div>
</div>

<form>


<fieldset><legend><strong>Enter Your Draw Group</strong></legend>

<table cellspacing="5" cellpadding="5">
<TR><TD>
Suite Nick Name: <LABEL clas="col-lg-2 control-label"><INPUT TYPE="text" NAME="number" placeholder="eg. Sagehens"> </INPUT></LABEL></TD></TR>


<TR>
<TD>
Member Numbers: <LABEL><INPUT TYPE="text" NAME="number" placeholder="Member 1"> </INPUT></LABEL></TD>

<TD>
<LABEL><INPUT TYPE="text" NAME="number" placeholder="Member 2"> </INPUT></LABEL></TD>

<TD><LABEL><INPUT TYPE="text" NAME="number" placeholder="Member 3"> </INPUT></LABEL></TD>

<TD>
<TD><LABEL><INPUT TYPE="text" NAME="number" placeholder="Member 4"> </INPUT></LABEL></TD>
</TR>
<TR>
<TD>Target Suite Size: <LABEL><INPUT TYPE="text" NAME="number" placeholder="eg. 6" > </INPUT></LABEL></TD>

<TD> Ideal Suite: <LABEL><INPUT TYPE="text" NAME="number" placeholder="eg. B-Hall"> </INPUT></LABEL></TD>

<TD> 

<button type="submit" class="btn btn-primary btn-lg">
Get My Rank!
</button>


</TR>
</table>


</fieldset>


</form>

<fieldset><legend><strong>Pomona College Leaderboard</strong></legend>
	<table class="table table-striped table-hover">
	<thead>
		<tr>
			<th>Rank</th>
			<th>Suite Nickname</th>
			<th>Avg Third</th>
			<th>Target Suite Size</th>
			<th>Target Building</th>
		</tr>
		</thead>
		<tbody>
		<tr class="info">
			<td>1</td>
			<td>Furious and Curious</td>
			<td>1</td>
			<td>6</td>
			<td>Sontag</td>
		</tr>
		<tr>
			<td>2</td>
			<td>Cuties With Da Booties</td>
			<td>1.25</td>
			<td>6</td>
			<td>Pomona</td>
		</tr>
		<tr class="info">
			<td>3</td>
			<td>SagecAcapella</td>
			<td>1.5</td>
			<td>6</td>
			<td>Clark V</td>
		</tr>
		<tr>
			<td>4</td>
			<td>Big Time</td>
			<td>2</td>
			<td>6</td>
			<td>Sontag</td>
		</tr>
		<tr class="info">
			<td>4</td>
			<td>The Boyz</td>
			<td>2</td>
			<td>4</td>
			<td>Clark V</td>
		</tr>
		<tr>
			<td>6</td>
			<td>Doge House</td>
			<td>2.33</td>
			<td>3</td>
			<td>Walker</td>
		</tr>
		<tr class="info">
			<td>7</td>
			<td>Everything is Awesome</td>
			<td>2.5</td>
			<td>6</td>
			<td>Clark V</td>
		</tr>
		<tr>
			<td>7</td>
			<td>MI Swive</td>
			<td>2.5</td>
			<td>4</td>
			<td>Sontag</td>
		</tr>
		<tr class="info">
			<td>9</td>
			<td>Seniorzzz</td>
			<td>3</td>
			<td>6</td>
			<td>Sontag</td>
		</tr>
		<tr>
			<td>9</td>
			<td>The Dojo</td>
			<td>3</td>
			<td>6</td>
			<td>Sontag</td>
		</tr>
		</tbody>
	</table>
	</fieldset>
</body>

</html>