<!doctype html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
<link href="Styles/searchbox.css" rel="stylesheet">
	<style>
	img
	{
		height:500px;
		width:700px;
	}
	</style>
</head>
<body>
<div class="navbar navbar-default">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="homepage.html">5Crib</a>
  </div>
  <div class="navbar-collapse collapse navbar-responsive-collapse">
    <ul class="nav navbar-nav">
      <li><a href="searchbox.html">Find A Suite!</a></li>
      
   
    <ul class="nav navbar-nav navbar-right">
      <li><a href="drawEntry.html">Get Your Room Draw Rank!</a></li>
      <li><a href="homepage.html">Map View</a></li>
      <li><a href="Suite Pictures">Suite Pictures</a></li>
    </ul>
  </div>
</div>
	<img src="http://i.imgur.com/XfK9cYt.jpg"></img>
</br>
	<img src="http://i.imgur.com/9kACawF.jpg"></img>
</br>
	<img src="http://i.imgur.com/sbTOVEV.jpg" usemap="#hw2"></img>
	<map name="hw2">
	<area shape="rect" coords="475,380,560,425" href="hw2e4person.html">
	</map>
</br>
	<img src="http://i.imgur.com/kv3db5A.jpg"></img>
</body>
</html>