<html>
<head>
	<title>5Cribs</title>
	<link  rel="stylesheet" href="styles/bootstrap-3.1.1-dist/css/bootstrap.css">
	<style>
	body {background-color:#b0c4de;}
	h1
	{
		font-size: 60px;
		text-align: center;
		background-color: rgb(237,65,26);
		background-size: 50% auto;
		width: 100%;
		color: rgb(255,255,255);
		display: block;
	}
	img
	{
		display: block;
    	margin: 0 auto;
    	max-width: 25%
	}
	</style>
</head>
<body>
	<h1>5Cribs</h1>

</br>
	<a href="pomona-full-campus.html"><img src="http://i.imgur.com/RDbahRz.png"></img></a> <!--Pomona-->

</br>
	<a href="search"><img src="http://i.imgur.com/0k9q7cO.png"></img></a> <!--Scripps-->
</br>

	<a href="pomona-full-campus.html"><img src="http://i.imgur.com/25LjUp0.png"></img></a> <!--CMC-->

</br>
</br>
	<a href="search"><img src="http://i.imgur.com/shtpbQk.png"></img></a> <!--Mudd-->
</br>
	<a href="search"><img src="http://i.imgur.com/fah0RaM.png"></img></a> <!--Pitzer-->
</body>
</html>