<html>
<head>
	<title>5Cribs</title>
	<link  rel="stylesheet" href="styles/bootstrap-3.1.1-dist/css/bootstrap.css">
	<style>
	body {background-color:#b0c4de;}
	h1
	{
		text-align:center;
	}
	img
	{
		display: block;
    	margin: 0 auto;
    	max-width: 25%
	}
	</style>
</head>
<body>
	<h1>5Cribs</h1>
	<a href="searchbox.html"><img src="http://i.imgur.com/vAIQxqY.jpg"></img></a> <!--Pomona-->
</br>
	<a href="search"><img src="http://i.imgur.com/0k9q7cO.png"></img></a> <!--Scripps-->
</br>
	<a href="search"><img src="http://i.imgur.com/TYs4GUQ.jpg"></img></a> <!--CMC-->
</br>
</br>
	<a href="search"><img src="http://i.imgur.com/shtpbQk.png"></img></a> <!--Mudd-->
</br>
	<a href="search"><img src="http://i.imgur.com/fah0RaM.png"></img></a> <!--Pitzer-->
</body>
</html>