<!doctype html>
<html>
<head>
	<style>
	body
	{
		background-color:#2fa4e7;
	}
	a
	{
		font-size:200%;
		text-shadow: 0px 2px 3px #666;
		text-align:center;
	}
	img
	{
		border:10px solid #000000;
		width:400px;
		height:400px;
		text-align:center;
	}
	</style>
</head>
<body>
	<a>200</a> </br>
	<img src="http://i.imgur.com/shBqHDh.jpg"></img>
</br>
	<a>202</a> </br>
	<img src="http://i.imgur.com/MOCMUmT.jpg"></img>
</br>
	<a>204</a> </br>
	<img src="http://i.imgur.com/jLbyBMs.jpg"></img>
</br>
	<a>206</a>
	</br>
	<img src="http://i.imgur.com/tZiY5UB.jpg"></img>
</body>
</html>