<!doctype html>
<html>
<head>
  <script src="/assets/jquery.js"></script>
  <title>Pomona College Room Draw</title>
  <style>
  .harwood1{
  	z-index: 1;
  }

  .pomona{
  	z-index: -1;
  }
  </style>
</head>
<body>

<div class="pomona">
	<img src="http://i.imgur.com/5VgNW7w.jpg" width="1250px">
</div>
<div class="harwood1">
	<img src="http://timenewsfeed.files.wordpress.com/2013/12/doge.jpg">
</div>	


<script type="text/javascript">
	$('div').on('click', function() {
      $(this).toggleClass('harwood');
  });
</script>

</body>

</html>
