<!doctype html>
<html>
<head>
  <title>Pomona College Room Draw</title>
  <style>
	.harwood {
	  height: 0px;
	  width: 70px;
	  border-top: 75px solid #bc6;
	  border-left: 75px solid #bc6;
	  border-right: 75px solid #bc6;
	  border-bottom: 75px solid #bc6;

	  border-radius: 20px 20px 20px 20px;
	  position: relative;
	  top: -500px;
	  left: 400px;
	  z-index: 1;
	}
  .pomona{
  	z-index: -1;
  	width: 100%;
  }
  </style>
</head>
<body>

<div class="pomona">
	<img src="http://i.imgur.com/5VgNW7w.jpg" width="100%">
</div>
<div class="harwood"></div>


</body>

</html>
