<!DOCTYPE html>
<html>
<head>
<link href="styles/bootstrap-3.1.1-dist/css/bootstrap.min.css" rel="stylesheet">
<link href="styles/searchbox.css" rel="stylesheet">

</head>


<body>

<form action="">


<fieldset><legend><strong>Region</strong></legend>
<table cellspacing="5" cellpadding="5">
<TR><TD>
<LABEL><INPUT TYPE="checkbox" NAME="gender" id="smd">North</INPUT></LABEL></TD>
<TD><LABEL><INPUT TYPE="checkbox" NAME="region" CHECKED
VALUE="North">South</INPUT></LABEL></TD></TR>
</table>
</fieldset>


<fieldset><legend><strong>Suite Characteristics</strong></legend>
<table>
<TR>
<TD><LABEL><INPUT TYPE="checkbox" NAME="ac" >AC</INPUT></LABEL></TD>
<TD><LABEL><INPUT TYPE="checkbox" NAME="subfree" >Sub-Free?</INPUT></LABEL></TD></TR>
<TR>
<TD><LABEL><INPUT TYPE="checkbox" NAME="capacity" >Single</INPUT></LABEL></TD>
<TD><LABEL><INPUT TYPE="checkbox" NAME="capacity" >Double</INPUT></LABEL></TD>
<TD><LABEL><INPUT TYPE="checkbox" NAME="capacity" >Triple</INPUT></LABEL></TD>
</TR>
<TR>
<TD><LABEL><INPUT TYPE="checkbox" NAME="capacity" >4-person</INPUT></LABEL></TD>
<TD><LABEL><INPUT TYPE="checkbox" NAME="capacity" >5-person</INPUT></LABEL></TD>
<TD><LABEL><INPUT TYPE="checkbox" NAME="capacity" >6-person</INPUT></LABEL></TD>
</TR>
</table>
</fieldset>

<fieldset><legend><strong>Building</strong></legend>
<table cellspacing="5" cellpadding="5">
<TR><TD><LABEL><INPUT TYPE="checkbox" NAME="gender" Checked Value="any" >Any</INPUT></LABEL></TD>
</table>
<table cellspacing="5" cellpadding="5">
<TR>
<TD><LABEL><INPUT TYPE="checkbox" NAME="gender" >Blaisdell</INPUT></LABEL></TD>
<TD><LABEL><INPUT TYPE="checkbox" NAME="gender" >Mudd</INPUT></LABEL></TD>
<TD><LABEL><INPUT TYPE="checkbox" NAME="gender" >Gibson</INPUT></LABEL></TD>
<TD><LABEL><INPUT TYPE="checkbox" NAME="building" >Smiley</INPUT></LABEL></TD></TR>

<TR>
<TD><LABEL><INPUT TYPE="checkbox" NAME="building" >Harwood</INPUT></LABEL></TD>
<TD><LABEL><INPUT TYPE="checkbox" NAME="building" >Lyon</INPUT></LABEL></TD>
<TD><LABEL><INPUT TYPE="checkbox" NAME="building" >Wig</INPUT></LABEL></TD>
<TD><LABEL><INPUT TYPE="checkbox" NAME="building" >Cottages</INPUT></LABEL></TD>
</TR>

<TR>
<TD><LABEL><INPUT TYPE="checkbox" NAME="building" >Clark I</INPUT></LABEL></TD>	
<TD><LABEL><INPUT TYPE="checkbox" NAME="building" >Clark III</INPUT></LABEL></TD>
<TD><LABEL><INPUT TYPE="checkbox" NAME="building" >Clark V</INPUT></LABEL></TD>
<TD><LABEL><INPUT TYPE="checkbox" NAME="building" >Norton</INPUT></LABEL></TD></TR>
<TR>
<TD><LABEL><INPUT TYPE="checkbox" NAME="building" >Walker</INPUT></LABEL></TD>
<TD><LABEL><INPUT TYPE="checkbox" NAME="building" >Lawry</INPUT></LABEL></TD>
<TD><LABEL><INPUT TYPE="checkbox" NAME="building" >Sontag</INPUT></LABEL></TD>
<TD><LABEL><INPUT TYPE="checkbox" NAME="building" >B-Hall</INPUT></LABEL></TD></TR>
<TR>

</table>

<table>
<TR><TD>
<button align="center" type="submit" class="btn btn-primary">
Find Me A Dorm!
</button></TD>
</TR>
</table>
</fieldset>




</form>

</body>
</html>

